<!DOCTYPE HTML>
<html>
  <head>
    <title>SinatraBar</title>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/handlebars.js" type="text/javascript"></script>
    <script src="/javascripts/sinatrabar.js" type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
