<div>
  <img src="<%= @song_info['coverArt'] %>" />
  <h1><%= @song_info['title'] %></h1>
  <h2><%= @song_info['artist'] %></h2>
  <ul>
    <li>Album: <%= @song_info['album'] %></li>
    <li>Station: <%= @song_info['stationName'] %></li>
  </ul>
</div>
