<div>
  <h1>Station List</h1>
  <ul>
    <% @stations.each do |number,station| %>
      <li><a href="/api/station/<%= number %>"><%= number.to_s + ": " + station %></a></li>
    <% end %>
  </ul>
</div>
